<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
	<meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
</head>
<body>
	<form th:action="@{/adduser}" th:object="${Client}" method="post">
  		<label>First name:</label> 
  		<br>
  		<input type="text" th:field="*{firstname}">
  		<br>
  		<label>Last name:</label>
  		<br>
  		<input type="text" th:field="*{lastname}">
  		<br>
  		<label>City:</label>
  		<br>
  		<input type="text" th:field="*{city}">
  		<br>
  		<label>Age:</label>
  		<br>
  		<input type="text" th:field="*{age}">
  		<br>
  		<br>
  		<input type="submit" value="Submit">
	</form>
</body>
</html>